.navbar{
  height: 100px;
  border: 1px solid black;
  width: 100%;
}
.navbar-header{
  border: 1px solid black;
}

img{
  height: 30%;
  width: 30%;
}
.nav{
  flex-direction: row;
  
}
.img{
  border: 1px solid black;
  height: 300px;
}
img.bg{

  height: 300px;
}