* {
  box-sizing: border-box;
}

.row{

  border:  1px solid black;
 height: 150px;
 font-size: 0px;
 display: flex ;
 flex-direction: column;
}

.col{
  border: 1px solid rgb(31, 27, 28);
float: left;
  height: 100%;
  width: 33.33%;
background-color: rgb(247, 96, 41);

}
.col2{
  border: 1px solid rgb(19, 18, 18);
  float: left;
  height: 100%;
  width: 50%;
  background-color: rgb(27, 27, 136);
}
.row2{
  border: 1px solid rgb(19, 18, 18);
  display: block;
  height: 50%;
  width: 100%;
  background-color: rgb(143, 143, 227);
}

.box1{
  border: 1px solid rgb(19, 18, 18);
 float: left;
  height: 100%;
  width: 30%;
  background-color: rgb(201, 186, 20);
}
.box2{
  border: 1px solid rgb(19, 18, 18);
  float: left;
height: 100%;
  width: 30%;
  background-color: rgb(201, 186, 20);
}
.box3{
  border: 1px solid rgb(19, 18, 18);
float: left;
  height: 100%;
  width: 40%;
  background-color: rgb(201, 186, 20);
}
.row3{
  border: 1px solid rgb(19, 18, 18);
  display: block;
  height: 50%;
  width: 100%;
  background-color: rgb(201, 186, 20);
}
.col3{
  border: 1px solid rgb(19, 18, 18);
float : left;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  background-color: rgb(201, 186, 20);
}
.row4{
  border: 1px solid rgb(19, 18, 18);
  display: block;
  height: 33.33%;
  width: 100%;
  background-color: rgb(201, 186, 20);
}
.col4{
  border: 1px solid rgb(19, 18, 18);
  float :left;
  height: 100%;
  width: 50%;
  background-color: rgb(228, 174, 206);
}
.row5{
  border: 1px solid rgb(19, 18, 18);
  display: block;
  height: 50%;
  width: 100%;
  background-color: rgb(192, 130, 167);
}