h1{
  color: black;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  background-color: pink;
  font-size: 24px;

}

p{

  color: black;
  background-color: skyblue;
  border: 1px solid black;
border-radius: 2px;
  font-size: 14px;
  text-align: left;
}